@import url("common.css");

.data-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-item dt {
    font-size: 1em;
    font-weight: 600;
    color: rgba(0, 0, 0, 50%);
}

.data-item dd {
    font-size: 2em;
    font-weight: 600;
    line-height: 80%;
}
